# Data
data/*
!data/data_preprocessing/
data/data_preprocessing/*
!data/data_preprocessing/*.py
!data/data_preprocessing/*.yaml
*.zip

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Checkpoints & logs
checkpoints/
logs/
*.pt
*.pth

# IDE
.idea/
.vscode/
*.swp
